loalang.xyz {
    tls {
        dns cloudflare
    }

    proxy / {
        to www
        transport http {
            read_buffer 4096
        }
    }
}

api.loalang.xyz {
    tls {
        dns cloudflare
    }

    proxy / {
        to api
        transport http {
            read_buffer 4096
        }
    }
}