loalang.xyz {
    tls {
        dns cloudflare
    }

    header / -Server

    proxy / www
}

api.loalang.xyz {
    tls {
        dns cloudflare
    }

    gzip

    header / -Server

    proxy / api
}
