loalang.xyz {
    proxy / {
        to www
        transport http {
            read_buffer 4096
        }
    }
}

api.loalang.xyz {
    proxy / {
        to api
        transport http {
            read_buffer 4096
        }
    }
}